{{template "base" .}}

{{define "title"}}{{ index (.Page.TitleMap) $.Lang}}{{end}}


{{define "css"}}
    <style>
        a:link
        {
            color: #2A76C1;
            transition: color 0.5s ease;
            text-decoration: none;
        }

        a:visited.h3,
        a:visited.read-more,
        a:visited
        {
            color: #2A76C1;
            transition: color 0.5s ease;
            text-decoration: none;
        }
        a:hover.h3,
        a:hover.read-more,
        a:hover
        {
            color: #2A76C1;
            text-decoration: 1;
            transition: color 0.5s ease;
        }
        #content_edit h1
        {
            font-size: 36pt
        }
        #content_edit h2
        {
            font-size: 30pt
        }
        #content_edit h3
        {
            font-size: 24pt
        }
    </style>
{{end}}

{{define "flyout"}}
    {{if .IsAuthenticated}}
        {{if hasRole "pages" .Auth.ID}}
            <div id="page-details-opener" class='d-none'>
                <a href="#!"
                   data-toggle="modal" data-backdrop="true" data-target="#edit-page-details"><i
                            class="fa fa-chevron-left"></i></a>
            </div>

            <div class="modal fade" id="edit-page-details" tabindex="-1" role="dialog"
                 aria-labelledby="edit-page-details"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-slideout modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Page Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="thetitledata">Page Name: </label>
                                <input type="text" class="form-control required" name="page_title" id="thetitledata"
                                       value="{{.Page.PageTitle}}">
                            </div>

                            <div class="form-group">
                                <label for="meta_tags">Meta Keywords: </label>
                                <input type="text" class="form-control required" name="meta_tags" id="meta_tags"
                                       value="{{.Page.MetaTags}}">
                            </div>

                            <div class="form-group">
                                <label for="meta">Meta Description: </label>
                                <textarea class="form-control required" name="meta" id="meta">{{.Page.Meta}}</textarea>
                            </div>

                            <div class="form-group">
                                <label for="active">Page Status:</label>
                                <select class="form-control" name="active" id="active">
                                    <option value="1" {{if eq .Page.Active 1}}selected{{end}}>Active</option>
                                    {{if gt .Page.ID 1}}
                                        <option value="0" {{if eq .Page.Active 0}}selected{{end}}>Inactive</option>
                                    {{end}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="access_level">Access Level:</label>
                                <select class="form-control" name="access_level" id="access_level">
                                    <option value="0" {{if eq .Page.AccessLevel 0}}selected{{end}}>Public Access
                                    </option>
                                    {{if gt .Page.ID 1}}
                                        <option value="1" {{if eq .Page.AccessLevel 1}}selected{{end}}>Account
                                            Required
                                        </option>
                                        <option value="3" {{if eq .Page.AccessLevel 3}}selected{{end}}>Administrators
                                            Only
                                        </option>
                                    {{end}}
                                </select>
                            </div>

                            {{if gt .Page.ID 0}}
                                <div class="form-group">
                                    <label for="slider">Slider?</label>
                                    <select class="form-control" name="slider" id="slider">
                                        <option value="0" {{if eq .Page.HasSlider 0}}selected{{end}}>No</option>
                                        <option value="1" {{if eq .Page.HasSlider 1}}selected{{end}}>Yes</option>
                                    </select>
                                </div>

                                <div id="sliderDiv" class="text-center form-group d-none">
                                    <a class="btn btn-info btn-sm" style="color: white;" href="#!" id="sliderBtn">Manage
                                        Slider</a>
                                </div>
                            {{end}}

                            <div class="form-group text-center">
                                <a class="btn btn-info btn-sm text-white" style="color: white;" href="#!"
                                   onclick="showMenuOptions()">Menu Settings</a>
                            </div>

                            <div class="form-group text-center">
                                {{if gt .Page.ID 0}}
                                    <a class="btn btn-info btn-sm text-white" style="color: white;" href="#!"
                                       onclick="showOpenGraphModal()">Sharing Image</a>
                                    <br>
                                {{end}}
                            </div>

                            <div class="form-group text-center">
                                <a href="#!" onclick="openJSModal()" class="edit-js-css" id="jsBtn">
                                    <i class="edit-js-css ion ion-social-javascript"></i>
                                </a>

                                &nbsp;
                                <a href="#!" class="edit-js-css" id="cssBtn" onclick="openCSSModal()">
                                    <i class="edit-js-css ion ion-social-css3"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}
{{end}}

{{define "content"}}



{{end}}

{{define "body"}}
    <div class="clearfix"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>&nbsp;</p>
                {{$course := index .RowSets "course"}}
                <h1>{{$course.CourseName}}</h1>
                {{safeHTML $course.Description}}
                <hr>
                <h2>Lectures</h2>
                <div class="list-group">
                    {{range $course.Lectures}}
                        <a class="list-group-item list-group-item-action" href="/courses/lecture/{{.ID}}">{{.LectureName}}</a>
                    {{end}}
                </div>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
{{end}}


{{define "buttons"}}
    {{if .IsAuthenticated}}
        {{if hasRole "pages" .Auth.ID}}
            <div id="bottomSaveBar" class="d-none show-on-edit">
                <div class="bottomBar text-center">
                    <div class="row justify-content-between">

                        <div class="col-3">
                            {{if and (gt .Page.ID 1) (ne .Page.Immutable 1)}}
                                <a class="btn btn-danger mb5 btn-rounded text-white ml-5" href="#!"
                                   onclick="deletePage()">Delete</a>
                            {{end}}
                        </div>

                        <div class="col-3">
                            {{if gt .Page.ID 1}}
                                <a class="btn btn-info mb5 btn-rounded text-white" href="/{{ .Page.Slug}}">Cancel</a>
                            {{else}}
                                <a class="btn btn-info mb5 btn-rounded text-white" href="/">Cancel</a>
                            {{end}}

                            <button id="btnSave" type="button" onclick="saveEditedPage()"
                                    class="btn btn-success mb5 btn-rounded">Save
                            </button>
                        </div>

                        <div class="col-3">
                            <a class="btn btn-outline-info mr-5" href="#!" onclick="saveAsTemplate()"><i
                                        class="fa fa-save"></i>
                                Template</a>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    {{end}}
{{end}}


{{define "js"}}

    {{ .Page.JS}}

    {{if .IsAuthenticated}}
        <form method="post" name="hiddensavepage" id="hiddensavepage" action="/admin/pages/ajax/savepage">
            <input type="hidden" name="page_id" value="{{.Page.ID}}" id="hidden_page_id">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <input type="hidden" name="thedata" id="hidden_thedata">
            <input type="hidden" name="meta_tags" id="hidden_meta_tags">
            <input type="hidden" name="meta" id="hidden_meta">
            <input type="hidden" name="active" id="hidden_active">
            <input type="hidden" name="page_title" id="hidden_thetitledata">
            <input type="hidden" name="has_slider" id="hidden_has_slider">
            <input type="hidden" name="page_styles" id="hidden_page_styles">
            <input type="hidden" name="draft" id="draft" value="0">
            <input type="hidden" name="access_level" id="hidden_access_level" value="0">
            <input type="hidden" name="page_js" id="hidden_page_js" value="{{ base64 .Page.JS }}">
            <input type="hidden" name="page_css" id="hidden_page_css" value="{{ base64 .Page.CSS }}">
            <input type="hidden" name="menu_bg_color" id="hidden_menu_bg_color" value="{{.Page.MenuColor }}">
            <input type="hidden" name="menu_transparent" id="hidden_menu_transparent"
                   value="{{ .Page.MenuTransparent }}">
            <input type="hidden" name="seo_image" id="hidden_seo_image" value="{{ .Page.SEOImage }}">
        </form>

        {{ if .Page }}
            {{if hasRole "menus" .Auth.ID}}
                {{template "menu-modal-js" .}}
            {{end}}

            {{if hasRole "pages" .Auth.ID}}
                {{template "css-js-modal" .}}
                {{template "vcms-edit-page-js" .}}
                {{template "slider-modal" .}}
                {{template "slider-text-modal" .}}
                {{template "menu-custom-modal" .}}
                {{template "open-graph-page-modal" .}}
                <script>
                    function deleteTemplate(x) {
                        attention.confirm({
                            html: "Are you sure?",
                            showCancelButton: true,
                            confirmButtonText: 'Delete',
                            icon: 'warning',
                            callback: function (result) {
                                if (result !== false) {
                                    // delete template
                                    let formData = new FormData();
                                    formData.append('id', x);
                                    formData.append("csrf_token", "{{.CSRFToken}}");
                                    let ajax = new XMLHttpRequest();
                                    ajax.open("POST", "/admin/pages/delete-page-template");
                                    ajax.send(formData);
                                    ajax.onreadystatechange = function () {
                                        if (ajax.readyState === 4) {
                                            let resp = ajax.response;
                                            let json = JSON.parse(resp);
                                            if (!json.ok) {
                                                errorAlert("Errors: " + json.message);
                                            } else {
                                                let element = $("#ifrCustomSidebarArea1").contents().find("#template_wrapper_" + x);
                                                element.remove();
                                                successAlert("Template deleted");
                                            }
                                        }
                                    }
                                }
                            }
                        })
                    }

                    function usePageTemplate(id) {
                        attention.confirm({
                            html: "This will <strong>replace the current news item</strong> with the selected template. Are you sure?",
                            showCancelButton: true,
                            confirmButtonText: 'Delete',
                            icon: 'warning',
                            callback: function (result) {
                                if (result !== false) {
                                    post('/admin/news/use-page-template', {slug: '{{.News.Slug}}', template_id: id});
                                }
                            }
                        })
                    }

                    function saveAsTemplate() {
                        attention.prompt({
                            html: "Enter template name:",
                            icon: 'question',
                            callback: function (result) {
                                if (result) {
                                    if (result.value !== "") {
                                        let str = "";
                                        let html = $('.is-wrapper').data('contentbox').html();
                                        let fd = new FormData();
                                        fd.append("csrf_token", "{{.CSRFToken}}");
                                        fd.append("html", html);
                                        fd.append("title", result.value);
                                        let ajax = new XMLHttpRequest();
                                        ajax.open("POST", "/admin/pages/save-page-template");
                                        ajax.send(fd);
                                        ajax.onreadystatechange = function () {
                                            if (ajax.readyState === 4) {
                                                let resp = ajax.response;
                                                let json = JSON.parse(resp);
                                                console.log(json);
                                                if (!json.ok) {
                                                    errorAlert("Errors: " + json.message);
                                                } else {
                                                    str = ' <li id="template_wrapper_' + json.id + '" class="list-group-item d-flex justify-content-between align-items-center">'
                                                        + '<span data-id="' + json.id + '" class="page_template">' + json.title + '</span>'
                                                        + '<span class="template-icons">'
                                                        + '<a href="#!" onclick="editTemplate(' + json.id + ')">'
                                                        + '<i class="fa  fa-fw fa-pencil"></i>'
                                                        + '</a>'
                                                        + '<a href="#!" onclick="del(' + json.id + ')">'
                                                        + '<i class="fa fa-trash fa-fw mr-2"></i>'
                                                        + '</a>'
                                                        + '</span></li>';
                                                    let target = $("#ifrCustomSidebarArea1").contents().find("#page_templates_list");
                                                    target.append(str);
                                                    successAlert("Saved page template");
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        })
                    }

                    {{if gt .Page.ID 0}}
                    $(document).ready(function () {
                        $("#seo-image").change(function () {
                            let fd = new FormData();
                            fd.append('image', $('#seo-image')[0].files[0]);
                            fd.append("page_id", {{.Page.ID}});
                            fd.append("csrf_token", '{{.CSRFToken}}');
                            $.ajax({
                                type: "POST",
                                enctype: 'multipart/form-data',
                                url: "/admin/pages/upload-seo-image",
                                data: fd,
                                processData: false,
                                contentType: false,
                                cache: false,
                                success: (data) => {
                                    successAlert("SEO Image saved!");
                                    let r = Math.random().toString(36).substring(7);
                                    $("#seo-share").attr("src", "/static/site-content/page-uploads/{{.Page.ID}}/share.jpg?id=" + r);
                                    $("#hidden_seo_image").val(1);
                                },
                                error: function (xhr, status, error) {
                                    errorAlert("Something went wrong. Is your image at least 1200x1080?")
                                }
                            });
                        });
                    });
                    {{end}}
                </script>

                {{if index .StringMap "edit"}}
                    <script>
                        $(document).ready(function () {
                            makePageEditable();
                        });
                    </script>
                {{end}}

                {{if index .StringMap "use_template"}}
                    <script>
                        let hide = document.getElementsByClassName("hide-on-edit");
                        var i;
                        for (i = 0; i < hide.length; i++) {
                            hide[i].style.display = "none";
                        }
                        $("#bottomSaveBar").removeClass('d-none');
                        $("#page-details-opener").removeClass('d-none');

                        if ($("#accordion").length > 0) {
                            initFaqs();
                        }
                        $(".collapse").each(function (index) {
                            $(this).addClass('in')
                        });

                        {{if eq .Page.HasSlider 1}}
                        $("#sliderDiv").removeClass("d-none");
                        {{end}}
                        enableContentEdit();
                    </script>
                {{end}}
            {{end}}
        {{end}}
    {{end}}
{{end}}