{{define "top-of-menu"}}

    {{if hasRole "courses" .Auth.ID}}

        <li id="sections" {{if eq .CurrentSegment "sections"}} class="active" {{end}}>
            <a href="#!"><i class="fa fa-info fa-fw"></i> <span class="nav-label">Sections</span> <span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/admin/sections/all">All Sections</a></li>
                <li><a href="/admin/sections/0">New Section</a></li>
                <li><a href="/admin/sections/traffic">Student Accesses</a></li>
            </ul>
        </li>

        <li id="assignments" {{if eq .CurrentSegment "assignments"}} class="active" {{end}}>
            <a href="#!"><i class="fa fa-file-text fa-fw"></i> <span class="nav-label">Assignments</span> <span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/admin/assignments/assignments">Assignments</a></li>
            </ul>
        </li>

        <li id="courses" {{if eq .CurrentSegment "courses"}} class="active" {{end}}>
            <a href="#!"><i class="fa fa-briefcase fa-fw"></i> <span class="nav-label">Courses</span> <span
                        class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li><a href="/admin/courses/all">All Courses</a></li>
                <li><a href="/admin/courses/0">New Course</a></li>
            </ul>
        </li>

        <li id="members" {{if eq .CurrentSegment "members"}} class="active" {{end}}>
            <a href="javascript:"><i class="fa fa-users fa-fw"></i> <span
                        class="nav-label">Students</span>
                <span
                        class="fa arrow"></span></a>
            <ul id="users-second" class="nav nav-second-level collapse">
                <li><a href="/admin/members/all">All Students</a></li>
                <li><a href="/admin/members/0">Add Students</a></li>
                {{if hasRole "users" .Auth.ID}}
                    <li><a href="/admin/members/all-deleted">Deleted Students</a></li>
                {{end}}
            </ul>
        </li>
    {{end}}

{{end}}