{{template "admin-base" .}}

{{define "title"}}All Assignments - vMaintain Admin{{end}}

{{define "admin-title"}}All Assignments{{end}}
{{define "content-title"}}All Assignments{{end}}
{{define "css"}}
{{end}}

{{define "content"}}
    <div class="table-responsive">
        <table id="itable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Name</th>
                <th>Course</th>
                <th>Date Received</th>
                <th class="text-center">Processed</th>
                <th class="text-center">Grade</th>
                <th class="text-center">Marked File</th>
            </tr>
            </thead>
            <tbody>
            {{$assignments := index .RowSets "assignments"}}
            {{range $assignments}}
                <tr>
                    <td><a href='/admin/assignments/assignment/{{.ID}}'>{{.Description}}</a></td>
                    <td>{{.User.FirstName}} {{.User.LastName}}</td>
                    <td>{{.Course.CourseName}}</td>
                    <td>{{humanDateTime .CreatedAt}}</td>
                    <td class="text-center">
                        <a href='/admin/assignments/assignment/{{.ID}}'>
                            {{if eq .Processed 1}}
                                <span class="badge badge-primary">Processed</span>
                            {{else}}
                                <span class="badge badge-danger">Not Processed</span>
                            {{end}}
                        </a>
                    </td>
                    <td class="text-center">
                        {{if gt .TotalValue 0}}
                            {{.Mark}}/{{.TotalValue}}
                        {{else}}
                            N/A
                        {{end}}
                    </td>
                    <td class="text-center">
                        {{if ne .GradedFile ""}}
                            <a href="/admin/sections/assignments/download-graded/{{.UserID}}/{{.ID}}"><i
                                        class="fa fa-download"></i></a>
                        {{else}}
                            N/A
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
{{end}}

{{define "js"}}
    <script>
        $(document).ready(function () {
            $('#itable').DataTable({
                stateSave: true,
                order: [[3, "desc"]],
            });
        });
    </script>
{{end}}