{{template "admin-base" .}}

{{define "title"}}Assignment - vMaintain Admin{{end}}

{{define "admin-title"}}Assignment{{end}}
{{define "content-title"}}Assignment{{end}}
{{define "css"}}
{{end}}

{{define "content"}}

    {{$a := index .RowSets "assignment"}}

    <form method="post" action="/admin/sections/assignment/{{$a.ID}}" novalidate
          class="needs-validation"
          id="a-form"
          enctype="multipart/form-data">

        <input type="hidden" name="csrf_token" id="csrf_token" value="{{.CSRFToken}}">
        <input type="hidden" name="user_id" id="user_id" value="{{$a.UserID}}">


        <h3><a href="/admin/members/{{$a.User.ID}}">{{$a.User.FirstName}} {{$a.User.LastName}}</a></h3>
        <p>{{$a.Course.CourseName}} - {{$a.Description}}</p>
        <p><strong>Received</strong>: {{humanDateTime $a.CreatedAt}}<br>
        <strong>Download</strong>: <a href="/static/site-content/assignments/{{$a.UserID}}/{{$a.FileName}}">{{$a.FileNameDisplay}}</a>
        </p>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="course_name">Mark:</label>
                {{with .Form.Errors.Get "mark"}}
                    <label class='text-danger'>{{.}}</label>
                {{end}}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-font fa-fw"></i></span>
                    </div>
                    <input class="form-control required {{with .Form.Errors.Get "mark"}} is-invalid {{end}}"
                           id="mark"
                           required
                           autocomplete="off" type='text'
                           name='mark'
                           value='{{$a.Mark}}'>
                    <div class="invalid-feedback">
                        Please enter a value
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="total_value">Out of:</label>
                {{with .Form.Errors.Get "total_value"}}
                    <label class='text-danger'>{{.}}</label>
                {{end}}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-font fa-fw"></i></span>
                    </div>
                    <input class="form-control required {{with .Form.Errors.Get "total_value"}} is-invalid {{end}}"
                           id="total_value"
                           required
                           autocomplete="off" type='text'
                           name='total_value'
                           value='{{$a.TotalValue}}'>
                    <div class="invalid-feedback">
                        Please enter a value
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Upload marked file</label>
                <div class="custom-file">
                    <input type="file" name="graded" class="custom-file-input" id="customFile" accept="application/pdf">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            </div>

            {{if ne $a.GradedFile ""}}
            <div class="form-group col-md-6">
                <label>Graded Assignment</label><br>
                <a href="/admin/sections/assignments/download-graded/{{$a.UserID}}/{{$a.ID}}" class="btn btn-outline-secondary"><i class="fa fa-download"></i> Download File</a>
            </div>
            {{end}}

        </div>
        <hr>
        <input type="submit" class="btn btn-primary" value="Save">
        {{if gt (index .IntMap "student_id") 0}}
            <a class="btn btn-info" href="/admin/members/{{index .IntMap "student_id"}}">Cancel</a>
        {{else}}
         <a class="btn btn-info" href="/admin/sections/assignments">Cancel</a>
        {{end}}
        <input type="hidden" name="from_member" value="{{index .IntMap "student_id"}}">
    </form>

{{end}}

{{define "js"}}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            bsCustomFileInput.init();
        });

        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{{end}}