{{template "admin-base" .}}

{{define "title"}}Course Traffic - vMaintain Admin{{end}}

{{define "admin-title"}}Course Traffic{{end}}
{{define "content-title"}}Course Traffic{{end}}
{{define "css"}}
{{end}}

{{define "content"}}
    {{$courseID := index .IntMap "course_id"}}
    <div class="row">
        <div class="offset-3 col-md-6">
            <div class="form-group ">
                <label for="course_id">Course</label>
                <select id="course_id" name="active" class="custom-select" onchange="showCourseData()">
                    {{range (index .RowSets "courses")}}
                        <option value="{{.ID}}" {{if eq .ID $courseID}} selected {{end}}>{{.SectionName}}: {{.Course.CourseName}} - {{.Term}}</option>
                    {{end}}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <canvas id="viewsChart"></canvas>
        </div>
        <div class="col-md-6 col-xs-12">
            <canvas id="durationChart"></canvas>
            <div id="chartjs-tooltip"></div>
        </div>
    </div>
{{end}}


{{define "js"}}
    <script>
        let viewChart;
        let timeChart;

        function showCourse(x) {
            $.ajax({
                url: "/admin/courses/course/ajax/traffic-data?course_id=" + x,
                method: "GET",
                success: function (data) {
                    var url = [];
                    var views = [];

                    for (let i in data) {
                        url.push(data[i].y);
                        views.push(data[i].views);
                    }

                    var chartdata = {
                        labels: url,
                        datasets: [
                            {
                                label: 'Views',
                                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                borderColor: 'rgba(54, 162, 235, 0.5)',
                                hoverBackgroundColor: 'rgba(54, 162, 235, 0.5)',
                                hoverBorderColor: 'rgba(54, 162, 235, 0.5)',
                                borderWidth: 1,
                                data: views,
                            }
                        ],
                    };

                    var ctx = document.getElementById("viewsChart").getContext('2d');

                    viewChart= new Chart(ctx, {
                        type: 'horizontalBar',
                        data: chartdata,
                        options: {
                            legend: {
                                display: true,
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Lecture Views',
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                            },
                        }
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });

            $.ajax({
                url: "/admin/courses/course/ajax/traffic-data?course_id=" + x,
                method: "GET",
                success: function (data) {
                    var url = [];
                    var duration = [];
                    var hms = [];

                    for (let i in data) {
                        url.push(data[i].y);
                        duration.push(Math.round(data[i].time / 60));
                    }

                    var chartdata = {
                        labels: url,
                        datasets: [
                            {
                                label: 'Minutes',
                                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                                borderColor: 'rgba(255,99,132,1)',
                                hoverBackgroundColor: 'rgba(255, 99, 132, 0.8)',
                                hoverBorderColor: 'rgba(200, 200, 200, 1)',
                                borderWidth: 1,
                                data: duration,
                            },
                        ],
                    };

                    var ctx = document.getElementById("durationChart").getContext('2d');

                    timeChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: chartdata,
                        options: {
                            legend: {
                                display: true,
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Time spent in lecture',
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                            },
                        }
                    });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }


        function showCourseData() {
            viewChart.destroy();
            timeChart.destroy();
            showCourse(document.getElementById("course_id").value)
        }

        document.addEventListener("DOMContentLoaded", function () {
            showCourse(document.getElementById("course_id").value)
        });
    </script>

{{end}}