{{template "admin-base" .}}

{{define "title"}}User - GoBlender Admin{{end}}

{{define "admin-title"}}My Submitted Assignments{{end}}
{{define "content-title"}}My Submitted Assignments{{end}}

{{define "css"}}

{{end}}

{{define "content"}}

    <div class="row">
        <div class="col-md-12 col-xs-12">


            <div class="table-responsive">
                <table id="itable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Course</th>
                        <th>File Submitted</th>
                        <th>Date Received</th>
                        <th>Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{$assignments := index .RowSets "assignments"}}
                    {{$auth := .Auth}}
                    {{range $assignments}}
                        <tr>
                            <td>{{.Description}}</td>
                            <td>{{.Course.CourseName}}</td>
                            <td>Download: <a href="/static/site-content/assignments/{{$auth.ID}}/{{.FileName}}">{{.FileNameDisplay}}</a></td>
                            <td>{{humanDateTime .CreatedAt}}</td>
                            <td>
                                {{if and (gt .Mark 0) (gt .TotalValue 0)}}
                                    {{.Mark}} / {{.TotalValue}}
                                {{else}}
                                    Not yet marked
                                {{end}}
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>


{{end}}

{{define "js"}}
    <script>
        $(document).ready(function () {
            $('#itable').DataTable({
                stateSave: true,
                order: [[3, "desc"]],
            });
        });
    </script>
{{end}}